body{
    background-image: url("../images/gem_mine.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
  
img{
  height: 50%;
}

#gameNameBox{
    background-color: black;
    color: azure;
}

#instructions{
  background-color: black;
  color: azure;
}
  
#scoreBox{
  background-color: black;
  color: azure;
}

#random_number{
  background-color: black;
  color: azure;
}

#wins_losses{
  background-color: black;
  color: azure;
}
